<!DOCTYPE html>
<html>
  <head>
    <title>Yourname Insight App</title>
  </head>
  <body>
    <div class="container">
      <h1>Yourname Insight App</h1>
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="word" placeholder="Enter word" style="max-width: 300px;" autofocus required>
        </div>
        <button type="submit">Submit</button>
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
    <div>
        {% if letters %}
            <h2>Letters Of Your Word</h2>
            <br>
            <div id="results">
                <ol>
                {% for letter in letters %}
                    <li>{{ letter }}</li>
                {% endfor %}
              </table>
            </div>
        {% endif %}
    </div>
</body>

</html>
